################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/GitHubChangelogGenerator/bin
/GitHubChangelogGenerator/obj
/GitHubChangelogGeneratorTest/bin
/GitHubChangelogGeneratorTest/obj
/GitHubChangelogGeneratorTest/Properties
/GitHubChangelogGeneratorTest/GitHubChangelogGeneratorDocker.csproj.user
